name: Publish Package to npmjs

on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun run lint:check

      - name: Build package
        run: bun run build

      - name: Publish to npm
        run: bun publish --access public --tolerate-republish
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
